
/* Login Page Error Msg */
.error{
	font-size: 12px;
	color: red;
	font-style: italic;
}

#preloader {
    background-color: #dddddd85;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
}
#preloader img{
    width: 100px;
}
#status {
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
}

label{
	font-weight: 600 !important;
}

.select2-container{
	width: 100% !important;
}

.cust_img-thumbnail {
    border-radius: 8px;
    position: relative;
}
.cust_img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.cust_img-thumbnail .zoom {
    display: block;
    position: absolute;
    right: 8px;
    bottom: 8px;
    height: 30px;
    width: 30px;
    padding: 6px;
    font-size: 14px;
    line-height: 18px;
    background: #0088cc;
    border-radius: 100%;
    color: #FFF;
    text-align: center;