
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(245 245 245);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(235 88 31);
}
/*emoji css start*/
 .contentText img {
    width: 25px;
    margin: 3px;
}
 ul.emoji-list * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul.emoji-list li {
  float:left;
  font-size: 36px;
  display: inline-block;
  padding: 2px;
  margin: 4px;
}
/*img.emoji {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}*/

.emoji-list img {
    width: 26px;
    margin: 5px;
    cursor: pointer;
}

.emoji_dropdown {
    position: absolute;
    width: 370px;
    border: 1px solid #ccc;
    background: #fff;
    top: 100%;
    z-index: 3;
    margin-bottom: 10px;
    border-radius: 10px 10px;
    box-shadow: 1px 1px 8px #c7dbe6;
/*    -ms-transform: translateX(10px) scaleX(0);
    -o-transform: translateX(10px) scaleX(0);
    -moz-transform: translateX(10px) scaleX(0);
    -webkit-transform: translateX(10px) scaleX(0);
    transform: translateX(10px) scaleX(0);*/
/*    transform-origin: top left;*/
    
}
.emoji_textarea.open .emoji_dropdown {
    opacity: 1;
    visibility: visible;
    -ms-transform: translateX(0px) scale(1) ;
    -o-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.emoji-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.emoji-list li {
    font-size: 35px;
    margin: 5px 5px;
    padding: 0px;
}
.emoji_topbar {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    border-bottom: 1px solid #bebebe;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(243 243 243);
    border-radius: 10px 10px 0 0;
}
.emoji_dropdown .tab-content {
    height: 200px;
    overflow: auto;
    margin-top: 35px;
}
.emoji_topbar > li {
    padding: 5px;
    position: relative;
}
.emoji_topbar > li.active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: red;
    left: 0;
    right: 0;
    bottom: 0;
}
.emoji_topbar > li > a > img {
    width: 22px;  
}
.emoji_picker {
    position: absolute;
    left: 5px;
    top: 4px;
    cursor: pointer;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.emoji_picker:hover {
    -webkit-transform: scale(1.1) ;
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}
/* width */
.emoji_dropdown .tab-content::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.emoji_dropdown .tab-content::-webkit-scrollbar-track {
  background: rgb(235 88 31);
}

/* Handle */
.emoji_dropdown .tab-content::-webkit-scrollbar-thumb {
  background: #888;
}
.dis_singlepostpage .emoji_dropdown {
  bottom: 100%;
  top: auto;
}
