@import url("bootstrap.css");
@import url("font-awesome.css");
@import url("../js/plugin/swiper/owl.carousel.css");
@import url("../js/plugin/swiper/owl.theme.css");
@import url("../js/plugin/swiper/swiper.css");
@import url("../js/plugin/magnific_popup/magnific-popup.css");
@import url("../js/plugin/scrollbar/css/perfect-scrollbar.css");