/* chat board design */
.dis_chat_wrap {
    background: rgb(255 255 255);
    display: flex;
    position: relative;
    min-height: 500px;
    min-height:calc(100vh - 148px);
    max-height: 900px;
    overflow: hidden;
    }
    .dis_chat_search {
    position: relative;
    }
    .dis_chat_search_input > input {
    border: 1px solid rgb(221 221 221);
    border-radius: 10px;
    background-color: rgba(242, 244, 250, 0);
    width: 100%;
    height: 50px;
    padding: 0px 33px 0px 45px;
    }
    .dis_chat_search_input > input:focus {
    outline: none;
    border-color: rgb(235 88 31);
    }
    .dis_chat_search_icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: inline-flex;
    }
    .dis_chat_leftsidebar {
    width: 350px;
    border-right: 1px solid #e3e3e3;
    }
    .dis_chat_leftsidebar_header{
    padding: 20px 20px;
    }
    .dis_userchat {
    width: calc(100% - 350px);
    }
    .dis_chat_filterlist {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: #40404c;
    }
    .dis_chat_filterlist select {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    }
    .dis_chat_contactsList .dis_chat_contacts_box {
    padding: 20px 20px;
    }
    .dis_chat_contacts_box {
    display: flex;
    position: relative;
    transition: all 0.3s;
    }
    .dis_chat_contactsList > li.active .dis_chat_contacts_box:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: rgb(235 88 31);
    border-radius: 0 5px 5px 0;
    }
    .dis_chat_contactsList > li:hover .dis_chat_contacts_box {
    background-color: rgb(250 250 250);
    }
    .dis_chat_contactsList > li.active .dis_chat_contacts_box{
    background-color: rgb(235 88 31 / 8%);
    }
    .dis_chat_contacts {
    max-height: 544px;
    max-height: 754px;
    overflow: auto;
    }
    .dis_chat_contactsList > li {
    margin-bottom: 10px;
    cursor: pointer;
    }
    .dis_chat_contactsList > li:last-child {
    margin-bottom: 0;
    }
    .dis_chat_contacts_avatar {
    border: 1px solid rgb(235, 236, 255);
    border-radius: 50%;
    background-color: rgb(212, 242, 255);
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    }
    .dis_chat_contacts_avatar:after {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    border: 2px solid rgb(255 255 255);
    top: -2px;
    left: 2px;
    z-index: 1;
    transition: all .3s;
    }
    .dis_chat_contacts_avatar.online:after {
    background: rgb(64, 216, 99);
    }
    .dis_chat_contacts_avatar.offline:after {
    background: rgb(223, 224, 244);
    }
    .dis_chat_contacts_avatar > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    }
    .dis_chat_contacts_details {
    width: calc(100% - 50px);
    }
    .dis_ccd_usertop{
    padding-bottom: 5px;
    }
    .dis_ccd_usertop, .dis_ccd_usermsg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .dis_ccd_usermsg > p {
    font-size: 14px;
    font-weight:500;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #979797;
    }
    .dis_ccd_userttl {
    font-size: 16px;
    font-weight: 700;
    color: #40404c;
    }
    .dis_ccd_userttl:hover {
    color: #eb581f;
    }
    
    .dis_chatTime_list > li {
    margin: 2px;
    display: inline-flex;
    }
    .dis_chat_msgcount {
    border-radius: 50%;
    background-color: rgb(255, 88, 84);
    width: 18px;
    height: 18px;
    font-size: 11px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    }
    .dis_userchat_activeuser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    }
    .dis_userchat_activeuser > li:first-child {
    width: 100%;
    }
    .dis_userchat_icons {
    display: flex;
    align-items: center;
    margin: -5px;
    }
    .dis_userchat_icons > li {
    padding: 5px;
    }
    .dis_userchat_icons > li .dis_userchat_iconsBox {
    border: 1px solid rgb(235, 236, 255);
    border-radius: 50%;
    background-color: rgb(242, 244, 250);
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }
    .dis_userchat_activeuser .custom_dd_icon > svg {
    width: inherit;
    height: inherit;
    }
    .dis_userchat_activeuser .custom_dd_icon {
    margin-right: 8px;
    display: flex;
    }
    .dis_userchat_back {
    position: relative;
    }
    .dis_userchat_back:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border: solid rgb(119, 119, 119);
    transform: rotate( -138deg);
    border-width: 2px 2px 0px 0px;
    }
    .dis_chat_img {
    border: 1px solid rgb(235, 236, 255);
    border-radius: 50%;
    background-color: rgb(212, 242, 255);
    width: 40px;
    height: 40px;
    flex: none;
    }
    .dis_chat_img > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    }
    .dis_chat_box {
    display: flex;
    }
    .dis_userchat_top {
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    }
    .dis_chat_zipL svg {
    width: 18px;
    height: auto;
    }
    .dis_chat_zipL {
    width: 40px;
    height: 40px;
    background: #eb581fba;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    flex: none;
    }
    .dis_chat_zipL > svg path {
    fill: #fff;
    }
    .dis_chat_zipWrap {
    display: flex;
    }
    .dis_chat_Zipname {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 2px;
    word-break: break-all;
    }
    .dis_chat_ZipSize {
    font-size: 12px;
    font-weight: 700;
    color: #eb581f;
    }
    /* connection modal */
    .dis_userchat_connetBox {
    background: #ffffff;
    padding: 40px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 30px 0px #22222212;
    }
    .dis_userchat_connetBox > h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0  20px;
    color: #40404c;
    }
    .dis_userchat_connetbtn {
    display: flex;
    }
    .dis_chatbtn {
    background: #eb581f;
    display: block;
    color: #fff;
    padding: 10px 10px;
    border-radius: 4px;
    min-width: 100px;
    }
    .dis_chatbtn.red {
    background: #a3a5a9;
    }
    .dis_chatbtn.green {
    background-color:#eb581f;
    }
    .dis_chatbtn:hover {
    color: #fff;
    }
    .dis_userchat_connetbtn > li {
    padding: 5px 10px;
    }
    /* connection modal */
    /* chat profile start */
    .dis_chat_Righttsidebar {
    width: 380px;
    border-left: 1px solid #e3e3e3;
    }
    .dis_chatProfileWrap {
    text-align: center;
    padding: 90px 10px 0;
    }
    .dis_chatProfile_img {
    width: 120px;
    height: 120px;
    display: inline-block;
    border: 1px solid #777;
    border-radius: 50%;
    overflow: hidden;
    }
    .dis_chatProfile_img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
    .dis_chatProfile_heading {
    font-size: 18px;
    font-weight: 600;
    color: #eb581f;
    text-transform: capitalize;
    margin: 10px 0 10px;
    }
    .dis_chatProfile_sub {
    color: #777;
    font-size: 16px;
    text-transform: capitalize;
    word-break: break-word;
    }
    .dis_chatProBtn > li {
    margin-bottom: 15px;
    }
    .dis_chatProBtn {
    margin-top: 15px;
    }
    .dis_chatProBtn > li:last-child {
    margin-bottom: 0;
    }
    .dis_chatProBtn .dis_btn {
    text-transform: capitalize;
    }
    /* chat profile end */
    /* popup search */
    .dis_chat_search.dis_chat_pp_search {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;
    transform: scale(0.8, 1);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    }
    .dis_chat_search.dis_chat_pp_search.open {
    transform: scale(1, 1);
    visibility: visible;
    opacity: 1;
    }
    .dis_chat_search.dis_chat_pp_search > form {
    height: 100%;
    display: flex;
    width: 100%;
    }
    .dis_chat_pp_search .dis_chat_search_input {
    width: 100%;
    }
    .dis_chat_pp_search .dis_chat_search_input > input {
    border: 0;
    border-radius: 0;
    background-color: rgb(255 255 255);
    height: 100%;
    padding: 0px 50px 0px 50px;
    }
    .dis_chat_pp_search_close {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: inline-flex;
    cursor: pointer;
    }
    .dis_chat_pp_search_close .dis_cross_sign:after, .dis_chat_pp_search_close .dis_cross_sign:before {
    width: 2px;
    background-color: rgb(128 128 128);
    }
    .dis_userchat90 {
    position: sticky;
    left: 0;
    right: 0;
    background: #eb581f12;
    background: rgb(0 0 0 / 37%);
    top: 0;
    padding: 10px 20px;
    color: #eb581f;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    z-index: 1;
    width: 100%;
    display: block;
    }
    .blockUserMsg {
    background: #ec581f;
    color: #fff;
    padding: 10px;
    text-align: center;
    }
    /* popup search */
    .dis_userchat_box{
    padding: 10px 20px;
    max-height: 678px;
    min-height: 678px;
    overflow: auto;
    position: relative;
    }
    .dis_userchat_footer{
    padding: 5px 20px 20px;
    }
    .dis_chat_textbox:after {
    content: "";
    position: absolute;
    top: 0px;
    width: 10px;
    height: 10px;
    z-index: -1;
    border: solid #e3e3e3;
    background: #fafafc;
    }
    .dis_chat_textbox {
    padding: 8px 12px;
    border-radius: 0 10px 10px 10px;
    position: relative;
    display: inline-block;
    border: 1px solid #e3e3e3;
    background-color: rgb(250, 250, 252);
    z-index: 0;
    display: block;
    }
    .dis_chat_data .dis_chat_textbox.image{
        max-width: 330px;
        height: 220px;
    }
    .dis_chat_data .dis_chat_textbox.video .dis_chat_pera  {
        width: 100%;
        height: 100%;
    }
    .dis_chat_pera > a  {
        width: 100%;
        height: 100%;
        display: block;
    }
    .dis_chat_pera > a > img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .upload_blob {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(0 0 0 / 35%);
        display: flex;                                      
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 5px;
    }
    .dis_chat_data .dis_chat_textbox.video {
        max-width: 332px;
        /* max-height: 172px; */
    }
    .dis_chat_data .dis_chat_textbox.video  video{
        width: 100%;
        height: 100%;
    }
    .dis_chat_data {
    max-width: 580px;
    }
    .dis_chat_pera {
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 500;
    color: #7c7c7c;
    word-break: break-all;
    width:100%;
    height:100%;
    }
    .dis_chat_pera > img {
    border-radius: 5px;
    width: 100%;
    }
    .dis_chat_pera > .emoji {
    width: 22px;
    margin: 1px 1px;
    }
    .dis_chat_send_nameTime{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    color: #aeaeae;
    font-size: 12px;
    }
    .dis_chat_send_nameTime p {
    margin: 0;
    padding: 0;
    }
    .dis_userchat_receiver .dis_chat_img {
    margin-right: 10px;
    }
    .dis_userchat_sender .dis_chat_img {
    margin-left: 10px;
    }
    .dis_userchat_sender .dis_chat_box {
    flex-direction: row-reverse;
    }
    .dis_userchat_sender .dis_chat_send_nameTime {
    justify-content: end;
    }
    .dis_userchat_receiver .dis_chat_textbox:after {
    left: -5px;
    border-width: 0px 0px 1px 1px;
    transform: rotate(45deg);
    }
    .dis_userchat_receiver, .dis_userchat_sender {
    padding: 10px 0;
    }
    .dis_userchat_sender .dis_chat_textbox:after {
    right: -5px;
    border-width: 1px 1px 0px 0px;
    transform: rotate( 45deg);
    }
    .dis_userchat_sender .dis_chat_textbox {
    border-radius: 10px 0 10px 10px;
    }
    .dis_chat_separator {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    padding: 10px 0;
    }
    .dis_chat_separator_text {
    border-style: solid;
    border-width: 1px;
    border-color: #e8e8e8;
    background-color: rgb(255 255 255);
    border-radius: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 15px;
    box-shadow: 0px 0px 0px 10px rgb(255 255 255);
    font-size: 13px;
    font-weight: 500;
    color: #aeaeae;
    }
    .dis_chat_separator:after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    background: #e8e8e8;
    content: "";
    z-index: -1;
    }
    .dis_chat_sendInput_wrap > form {
    display: flex;
    align-items: center;
    border: 1px solid rgb(224, 225, 248);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    padding: 0px 20px;
    position: relative;
    }
    .dis_chat_send_iconList {
    display: flex;
    align-items: center;
    margin: 0px -10px;
    }
    .dis_chat_send_iconList > li {
    padding: 0px 10px;
    cursor: pointer;
    }
    .dis_chat_send_iconList > li > span {
    display: flex;
    }
    .dis_chat_send_emoji {
    display: inline-flex;
    }
    .dis_chat_sendInput {
    width: 100%;
    padding: 0px 15px;
    }
    .dis_chat_sendInput > .dis_userchat_input {
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 14px;
    resize: none;
    background: #ff000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    padding-top: 9px;
    }
    .dis_csi_icon {
    display: flex;
    margin: 0;
    cursor: pointer;
    }
    .dis_csi_icon > span {
    display: flex;
    }
    .dis_chat_typing > .dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 1px;
    background: rgb(143, 144, 181);
    -webkit-animation: wave 1.3s linear infinite;
    animation: wave 1.3s linear infinite;
    }
    .dis_chat_typing .dot:nth-child(2) {
    animation-delay: -1.1s;
    }
    .dis_chat_typing .dot:nth-child(3) {
    animation-delay: -0.9s;
    }
    @keyframes wave {
    0%, 60%, 100% {
    transform: initial;
    }
    
    30% {
    transform: translateY(-5px);
    }
    }
    @-webkit-keyframes wave {
    0%, 60%, 100% {
    transform: initial;
    }
    
    30% {
    transform: translateY(-5px);
    }
    }
    .dis_chat_typing {
    margin-left: 8px;
    }
    .dis_userchat_nodata {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 50px 0;
    }
    .dis_userchat_nodata_ttl {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 15px 0 5px;
    }
    .dis_userchat_box::-webkit-scrollbar-track {
    background: rgb(255 255 255);
    }
    .dis_chat_textbox .linkpreview_data .linkpreview_title {
    font-size: 16px;
    margin: 5px 0 0;
    padding: 0;
    }
    .dis_chat_textbox .linkpreview_link {
    font-size: 14px;
    }
    .dis_chat_textbox .linkpreview_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    .dis_chat_textbox .linkpreview_des {
    margin: 5px 0;
    }
    .dis_chat_textbox .post_linkpreview {
    margin-top: 5px;
    }
    .dis_chat_textbox .linkpreview_img {
    flex: 6;
    }
    
    /* chat file upload  */
    .dis_chat_send_iconList li.open .chat_FT_popup{
        opacity: 1;
        visibility: visible;
    }
    .chat_FT_popup {
        background: #fff;
        box-shadow: 0px 0px 10px 0px #00000033;
        width: 200px;
        padding: 15px 0px 8px;
        border-radius: 5px;
        position: absolute;
        bottom: calc(100% + 10px);
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }
    .chat_FT_popup:after {
        content: "";
        position: absolute;
        bottom: -5px;
        right: 12px;
        background: #ffffff;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        box-shadow: 7px 4px 10px 0px rgb(0 0 0 / 13%);
    }
    .chat_FT_Icon > svg {
        width: 20px;
        height: auto;
    }
    .chat_FT_Icon > svg path {
        fill:#fff;
    }
    .chat_FT_innner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .chat_FT_Icon {
        background: #ff8452;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        margin: auto;
    }
    .chat_FT_text {
        font-size: 13px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        margin-top: 8px;
    }
    .chat_FT_box {
        text-align: center;
        cursor: pointer;
    }
    .chat_FT_innner > li {
        margin: 0 12px;
    }
    .red .chat_FT_Icon {
        background: #fb5a7c;
    }
    .blue .chat_FT_Icon {
        background: #40b4f6;
    }
    /********/
    .dis_userchat_footer .emoji_picker{
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .dis_userchat_footer .emoji_dropdown {
    left: 0;
    top: auto;
    bottom: 100%;
    }