application/cache/
system/cache/
application/logs/
gamification/node_modules/
uploads/

*.log
*.png
/.htaccess
/phpinfo.php
/new.php
/info.php
/inf11.php
/gdcheck.php
database.php
/index.php
/.gitlab-ci.yml

/test.php <-- this one is critical since it contains an eval statement
/test.discovered.tv.zip
/application/config/constants.php
/application/config/database.php
/application/config/local/**/*
socket/config/db.js
socket/server.js

application/config/constants.php
application/config/database.php
applications/
application/logs/
application/cache/
application/third_party/
uploads/
gamification/node_modules/
socket/node_modules/
# repo/images/
phpmyadmin/
system/
builds/
repo/gamification/assets/built/
node_modules/
socket/config/db.js
system/cache/
application/logs
repo_admin/images/

/applications
/application/logs
/application/cache
/application/config/constants.php
/application/config/database.php
/application/config/local

/uploads/vivek/index.php
/uploads
/node_modules
/images
/cache
/phpmyadmin
/test.discovered.tv.zip
/application/third_party/
/system/
/azure/**/node_modules

/application/controllers/cron/video_analytics_network.csv
/cookies

application/logs/

/application/config/development/database.php
/application/config/testing/database.php
/application/config/production/database.php
application/controllers/cron/video_analytics_network.csv
cookies
/downloads/

/application/config/development/constants.php
/application/config/testing/constants.php
/application/config/production/constants.php
