.gam-rules-modal-wrapper {
	display: flex;
	align-items: center;

	.gam-rules-btn {
		border-color: #ffffff;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		box-shadow: none;
		border: 0;
	}
}
