.gam-ad-earn-burn {
	.gam-ad-earn-burn-points,
	.gam-ad-earn-burn-description,
	.gam-ad-earn-burn-skip {
		position: absolute;
		z-index: 10000;

		p {
			margin-bottom: auto;
		}
	}

	.gam-ad-earn-burn-points {
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: 130px;
		right: 0;
		box-shadow: -14px 10px 16px 0px #44444440;
		color: #fff;
		border: 0;
		background: rgb(255 255 255 / 90%);
		padding: 10px;
		border-radius: 5px 0px 0px 5px;
		backdrop-filter: blur(5px);
		.gam-video-points-text{
			font-size: 15px;
			font-weight: 700;
			display: flex;
			color: #eb581f;
		}
	}

	.gam-ad-earn-burn-description {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 10px;
		background-color: #eb581f;
		bottom: 60px;
		left: 0;
		border-radius: 0px 10px 10px 0px;
		font-size: 14px;
		font-weight: 600;
		color: #fff;
		cursor: pointer;
	}
	.gam-eb-doller {
		display: flex;
		margin-right: 4px;
	}
	.gam-ad-earn-burn-skip {
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 10px;
		background-color: #00000080;
		bottom: 60px;
		border-radius: 5px 0px 0px 5px;
		font-size: 14px;
		background: linear-gradient(0deg, #FD5900 -0.02%, #FFDE00 100.02%), linear-gradient(0deg, rgba(255, 124, 2, 0.05), rgba(255, 124, 2, 0.05));
		box-shadow: 0px 10px 15px 0px #FE690105;
		color: #fff;
		font-weight: 600;
		border: 0;
		text-transform: capitalize;
		backdrop-filter: blur(3px);
	}
}
.gam-ad-poll {
	text-align: center;
    position: absolute;
    z-index: 10000;
    right: 0;
    top: 10px;
    background: #ffffff6e;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    backdrop-filter: blur(5px);
	padding: 12px 12px;
}

.gam-ad-poll .gam-modal-title {
    font-size: 16px;
    margin: 0;
}
// radio button

.choices {
    margin: 10px 0 5px;
}
.choices > label:first-child {
    margin-right: 10px;
}
.gam-ad-poll .gam_btn {
    height: inherit;
    width: inherit;
    padding: 5px 20px;
    text-transform: capitalize;
    font-size: 14px;
}
.gam-radio-round-box {
	.gam-radio-round-input{
	display: none!important;
	&:checked + .gam-radio-round {
		&:before{
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
	}

	.gam-radio-round{
		position: relative;
		padding-left: 20px;
		cursor: pointer;
		font-size: 14px;
		&:before {
			content: '';
			width: 10px;
			height: 10px;
			background: #EB581F;
			position: absolute;
			top: 3px;
			left: 3px;
			border-radius: 100%;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
			opacity: 0;
			-webkit-transform: scale(0);
			transform: scale(0);
			z-index: 1;
		}
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 16px;
			height: 16px;
			border: 1px solid #ddd;
			border-radius: 100%;
			background: #fff;
		}

	}
}

// ads watch completed
.gam-watch-completed {
	.modal-body {
		padding: 50px 20px;
	}
	.modal-dialog {
		max-width: 500px;
		width: 100%;
	}
	.modal-dialog{
		text-align: center;
	}
	.gam-watch-point{
		font-size: 20px;
		text-transform: capitalize;
		font-weight: 700;
		color: #eb581f;
		margin: 19px 0 10px;
		padding: 0;
	}
	.gam-modal-des {
		margin: 0px 0 30px;
	}
}

@media (max-width: 991px){

}
@media (max-width: 1199px){
	.gam-ad-earn-burn .gam-ad-earn-burn-points {
		padding: 5px;
	}
	.gam-ad-earn-burn .gam-ad-earn-burn-description, .gam-ad-earn-burn .gam-ad-earn-burn-skip {
		padding: 5px 8px;
		bottom: 15%;
		font-size: 12px;
	}
	.gam-ad-poll {
		top: 35px;
	}
}
@media (max-width: 991px){

}
@media (max-width: 480px){
	.gam-ad-poll {
		padding: 8px 8px;
	}
	.gam-ad-poll .gam-modal-title {
		font-size: 13px;
	}
	.choices {
		margin: 2px 0 0px;
	}
	.gam-ad-poll .gam_btn {
		padding: 5px 5px;
		font-size: 12px;
	}


}
