#gam-leaderboard-modal-root {
	cursor: initial;
}

.gam-leaderboard-notification {
	&.open {
		.gam-leaderboard-modal {
			opacity: 1;
			visibility: visible;
			top: 84px;
			@media (max-width: 1199px) {

			}
			&.gam-no-touch {
				pointer-events: none;
			}
		}
	}

	.leaderboard_btn {
		cursor: pointer;
	}
}

.gam-leaderboard-modal {
	border-radius: 0px 0px 5px 5px;
	position: fixed;
	background-color: rgba(20, 20, 20, 0.92);
	color: #fff;
	max-width: 515px;
	width: 100%;
	top: 100px;
	right: 55px;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	transition: 0.2s ease-in-out;

	.gam-lb-helper {
		padding: 0;
	}

	#gam-leaderboard {
		position: relative;
	}
}
.gam-top-rank-list {
	display: flex;
	margin-bottom: 30px;
	padding-top: 50px;
	justify-content: space-between;

	.gam-top-rank-item {
		width: 100px;
		&:nth-child(1) {
			transform: translateY(-30px);
			order: 2;
		}
		&:nth-child(2) {
			order: 1;
		}
		&:nth-child(3) {
			order: 2;
		}
	}

	.gam-trl-box {
		text-align: center;
		position: relative;
		padding: 0 4px;
		&:after {
			content: "";
			position: absolute;
			top: 10px;
			left: 0;
			right: 0;
			background: linear-gradient(180deg, #424242 0%, rgba(25, 25, 25, 0) 100%);
			height: 140px;
			border-radius: 50px 50px 0px 0px;
			z-index: -1;
		}
		.gam-trl-img {
			position: relative;
			display: block;
			border-radius: 50%;
			width: 70px;
			height: 70px;
			margin: auto;
			box-shadow: 0px 0px 0px 3px rgba(26, 26, 26, 1);
			margin: auto;
			> img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 50%;
			}
		}

		.gam-trl-rank-icon {
			display: flex;
		}
		.gam-trl-rank {
			background: linear-gradient(0deg, #fd5900 -0.02%, #ffde00 100.02%);
			width: 20px;
			height: 20px;
			border-radius: 50%;
			font-size: 12px;
			font-weight: 800;
			margin-top: 2px;
			box-shadow: -1px 1px 0px 1px rgba(26, 26, 26, 1);
		}
		.gam-trl-rank-box {
			position: absolute;
			top: -15px;
			right: -3px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
	.gam-trl-point {
		// background: linear-gradient(0deg, #fd5900 -0.02%, #ffde00 100.02%),
		// 	linear-gradient(0deg, rgba(255, 124, 2, 0.05), rgba(255, 124, 2, 0.05));
		// box-shadow: 0px 10px 15px 0px #fe690105;
		align-items: center;
		display: inline-flex;
		padding: 4px 5px;
		border-radius: 5px;
		font-size: 15px;
		font-weight: 700;
		margin: 12px 0 8px;
		background: #EB581F;
		border: 1px solid #FFFFFF0D;
		box-shadow: 0px 10px 15px 0px #FE690105;
		.gam-trl-point-icon {
			line-height: 9px;
		}
	}
	.gam-trl-point-number {
		margin-left: 2px;
	}
	.gam-trl-name {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.2;
		word-break: break-word;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
.gam-leaderboard-modal-content {
	.gam-leaderboard-top-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.gam-lb-helper, .timer-wrapper {
		padding: 14px;
	}

	.gam-leaderboard-bottom-section {
		display: flex;
		padding: 10px 20px;
		height: calc(100vh - 208px);
		overflow: auto;
		align-items: center;
		justify-content: center;
	}

	.gam-title-time {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: sticky;
		top: 0;
	}

	.gam-title {
		font-weight: 900;
		font-size: 67px;
		writing-mode: vertical-lr;
		color: #424242!important;
		transform: rotate(180deg);
	}

	.gam-countdown {
		display: flex;
		align-items: center;

		span {
			display: block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			margin: 0 5px;
			background: linear-gradient(0deg, #2b2b2b, #2b2b2b),
				linear-gradient(0deg, #303030, #303030);
			border: 0.5px solid #303030;
			border-radius: 4px;
			color: #fafafa;
			font-size: 12px;
			font-weight: 600;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.gam-leaderboard-listing {
		&::-webkit-scrollbar {
			width: 0px;
		}
		flex: 1;
		margin-left: 30px;
		height: 100%;
		// overflow: auto;

		.gam-list-item {
			&:nth-child(1) {
				.gam-user-points {
					// background-color: rgba($color: $lightGrey, $alpha: 1);
				}
			}
			&:nth-child(2) {
				.gam-user-points {
					// background-color: rgba($color: $lightGrey, $alpha: 0.7);
				}
			}
			&:nth-child(3) {
				.gam-user-points {
					// background-color: rgba($color: $lightGrey, $alpha: 0.5);
				}
			}
		}
	}
	.gam-list-item {
		background: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0) 100%),
			linear-gradient(0deg, #252525, #252525);
		border: 1px solid #333333;
	}

	.gam-list-item {
		&.gam-user-score{
			.gam-user-points{
				background: #ffffff;
				color: #EB581F;
			}
		}
		display: flex;
		align-items: center;
		gap: 5px;
		padding: 15px 15px;
		border-radius: 5px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}

		.gam-rank {
			border-radius: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #40404c;
			width: 35px;
			height: 20px;
			font-size: 12px;
			font-weight: 800;
			color: #fff;

			span {
				font-size: 12px;
				font-weight: 800;
			}
		}

		.gam-rank-details {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex: 1;
			overflow: hidden;
			font-size: 16px;
		}

		.gam-user-info {
			display: flex;
			align-items: center;
			padding-left: 12px;
		}

		.gam-user-img {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			overflow: hidden;
			border: 1px solid #434343;
			flex: none;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.gam-user-name {
			padding-left: 12px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			span {
				display: block;
				line-height: 1;
			}
		}

		.gam-account-type {
			font-size: 10px;
		}

		.gam-user-points {
			justify-content: center;
			align-items: center;
			display: flex;
			height: 100%;
			font-weight: 700;
			// background: linear-gradient(
			// 		0deg,
			// 		rgba(253, 89, 0, 0.15) -0.02%,
			// 		rgba(255, 222, 0, 0.15) 100.02%
			// 	),
			// 	linear-gradient(0deg, rgba(255, 124, 2, 0.05), rgba(255, 124, 2, 0.05));
			// border: 1px solid #ff7c020d;
			// box-shadow: 0px 10px 15px 0px #fe690105;
			border-radius: 5px;
			padding: 5px 5px;
			font-size: 15px;
			min-width: 70px;
			background: #2c2c2c;
			border: 1px solid #FF7C020D;
			box-shadow: 0px 10px 15px 0px #FE690105;
			.gam-lb-points-icon {
				display: flex;
				margin-right: 4px;
			}
		}
	}
	.gam-user-score {
		background: #eb581f;
		border: 1px solid #eb581f;
		.gam-rank {
			background: #ffffff;
			color: #eb581f;
		}
		.gam-user-img {
			border-color:#ff6e36;
		}
	}
	.gam-list-item {
		&::before {
			display: none;
		}
	}

	.gam-helper-wrapper {
		padding: 0 20px;
	}

	@keyframes animateIn {
		0% {
			opacity: 0;
			transform: translateY(8px);
		}

		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.gam-lb-helper {
	// margin-top: 20px;
	// margin-bottom: 20px;
	display: flex;
	justify-content: flex-end;

	button {
		background: none;
		border: none;
		outline: none;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;

		span {
			display: inline-flex;
			align-items: center;
			margin-left: 0px;
		}
	}
}

@media (max-width: 575px){
	.gam-leaderboard-modal {
		max-width: 100%;
		width: 100%;
		right: 0;
		left: 0;
	}
	.gam-top-rank-list .gam-trl-box .gam-trl-img {
		width: 50px;
		height: 50px;
	}
	.gam-leaderboard-modal-content .gam-leaderboard-bottom-section {
		padding: 10px 10px;
	}
	.gam-leaderboard-modal-content .gam-list-item .gam-user-name {
		padding-left: 7px;
		font-size: 12px;
		font-weight: 700;
	}
	.gam-leaderboard-modal-content .gam-list-item .gam-user-info {
		padding-left: 3px;
	}
	.gam-leaderboard-modal-content .gam-list-item .gam-user-points {
		font-weight: 700;
		font-size: 12px;
	}
	.gam-leaderboard-modal-content .gam-list-item {
		padding: 5px 5px;
	}
}
@media (max-width: 420px){
	.gam-leaderboard-modal-content
	{
		 .gam-title-time {
		display: none;
	}
	.gam-leaderboard-listing {
		margin-left: 0;
	}

}
}
@media (max-width: 360px){
	.gam-top-rank-list .gam-top-rank-item {
		width: 90px;
	}
	.gam-top-rank-list .gam-trl-name, .gam-top-rank-list .gam-trl-point {
		font-size: 12px;
	}
}
