.gam-tutorial-progress-bar {
	height: 30px;
	width: 100%;

	.gam-tutorial-progress-wrapper {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		column-gap: 4px;
		height: 6px;
		width: 100%;
	}

	.gam-tutorial-progress-step {
		background-color: #D9D9D9;
		width: 6px;
		height: 6px;
		border-radius: 3px;
		text-align: center;
		transform: width 0.3s ease-in;
		&.gam-active-step {
			width: 12px;
			background-color: $orange;
		}

		span {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}
