:root {
	--color-background-primary: #11151a;
	--color-background-primary-alt: #11151a;
	--color-background-secondary: #000;
	--color-background-secondary-alt: #000;
	--color-text: #f5f6fa;
	--color-accent-primary: #8f61dd;
	--color-accent-primary-alt: #9747ff;
	--color-accent-dark: #434649;
	--color-accent-dark-alt: #242a31;
	--font-family-primary: 'Overpass', 'Roboto', sans-serif;
	--color-green:#4DD362;
	--color-light-gray:#D9D9D9;
}

$grey: #40404c;
$darkGrey: #595959;
$lightGrey: #9c9c9c;
$green: #4DD362;
$pathToS3: 'https://xr-widgets.s3.amazonaws.com/w7q5wl/assets';
$orange: #eb581f;
